<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our Services</h1>
            <p class="text-center sub-heading">Grow Your Business With Us</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="images/setting.png" alt="">
                            </div>
                            <h4>Settings</h4>
                            <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit Lorem Ipsum</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="images/speed.png" alt="">
                            </div>
                            <h4>Speed Up</h4>
                            <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit Lorem Ipsum</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="images/privacy.png" alt="">
                            </div>
                            <h4>Privacy</h4>
                            <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit Lorem Ipsum</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="images/backup.png" alt="">
                            </div>
                            <h4>Backups</h4>
                            <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit Lorem Ipsum</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="images/ssl.png" alt="">
                            </div>
                            <h4>SSL Secured</h4>
                            <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit Lorem Ipsum</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="images/database.png" alt="">
                            </div>
                            <h4>Database</h4>
                            <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit Lorem Ipsum</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- </div>

</div>
</div>
</div>
</div>
</div> --}}